

.forms, .forms2, .forms3
{
  margin-top: 3%;
  margin-left: 6%;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  width: 600px;
}

.titulo1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-left: 6%;
}

.botao {
  font-family: Raleway;
  width: 1000px;
  height: 30px;
}
