

.container
{
  margin-left: 6%;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.titulo1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}

.botao {
  font-family: Raleway;
 top:6%;
}
