body {
  padding: 0;
  margin: 0;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  background: linear-gradient(180deg, #fff7e7 100%, #9e907a 100%);
}