html,
body {
  padding: 0;
  margin: 0;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;

  background-image: url("../public/fundoefeito.png");
  /* background: linear-gradient(180deg, #fff7e7 100%, #9e907a 100%); */
  background-color: #fff7e7;
}

body .container{
  background-color: transparent;
}

.naveCustom{
  background-color: transparent;
}