.titleDiv {
  align-items: top;
}

.title {
  margin-top: 30%;
  margin-left: 10%;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 48.83px;
  line-height: 57px;

  color: #261134;
}

.subtitlehome {
  padding-left: 10%;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;

  color: #4d4d4d;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  /* background: #fafafa; */
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;

}

.botaohome {
  padding-left: 10%;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 60%;
  text-align: absolute;
        left: 100%;
        top: 100%;
        margin-left:-82px;
        margin-top:-270px;

  color: #4d4d4d;
}

.navbar:hover {
  color: #f95c19;
}

.nav-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  left:50%
}

.botaohome {

  width: 1000px;
  height: 30px;
  left: 1370px;
  top: 30px;
}

.imageminicial {
  /* position: absolute; */
  width: 600px;
  height: 500px;
}

@media (max-width: 600px) {
  /* .grid {
    width: 100%;
    flex-direction: column;
  } */

  /* .fundoefeito {
    position: absolute;
    width: 1373.53px;
    height: 1498.01px;
    left: 1199.1px;
    top: -1.71px;
    opacity: 10%;
    transform: matrix(-0.89, 0.46, 0.46, 0.89, 0, 0);
  } */
}
